name: Generate Metrics

on:
  schedule:
    - cron: "0 */6 * * *" # Runs every 6 hours
  workflow_dispatch: # Allows manual trigger
  push:
    branches:
      - master

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate Comprehensive Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: m7mdraafat
          template: classic
          base: header, activity, community, repositories
          config_timezone: Africa/Cairo
          config_display: large
          config_padding: 5%
          
          # Isometric Calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Languages
          plugin_languages: yes
          plugin_languages_categories: programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 15
          
          # Achievements
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact
          
          # Lines of code
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          
          # Habits
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_charts: yes
          
          # Stars
          plugin_stars: yes
          plugin_stars_limit: 3
